*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(66, 63, 63);
    color: azure;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px;
    flex-wrap: wrap;
    font-family: Arial;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.icons{
    display: none;
    cursor: pointer;
    filter: invert();
}
.closeicon{
    display: none;
    cursor: pointer;
    filter: invert();
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:40px;
    list-style: none;
    font-size: 15px;
}

@media only screen and (max-width:1000px) {
    nav{
        justify-content: space-between;
    }
    .menu{
        flex-direction: column;
        width: 30%;
        position:absolute;
        top:0;
        right: 0;
        height: auto;
        align-items: center;
        justify-content: center;
        display: none;
        font-family: serif;
        padding-top: 100px ;
        background-color: #212c2c;
        }
    .icons{
        display:inline;
      }
      .closeicon{
        display:inline;
    }
      .show{
        display: flex;
        transition: show;
        transition-duration: 0.3s;
        animation-timing-function:cubic-bezier(0.86, 0, 007, 1);
        transform-origin: right;
    }
@keyframes show{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
}